/*Global*/
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98vh;
    font-size: .9vw;
    padding: 1vh;
}

header, footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

ul{ 
    display: flex;
    list-style-type: none;
}

li{
    margin: 10px;
}

    /*Header*/
header{
    position: absolute;
    top: 0;
}

header ul{
    margin: 3px;
}

        /*Left*/

        /*Right*/
#top-right{
    display: flex;
    justify-content: space-between;
    margin: 3px;
}

            /*Links*/

            /*Icons*/
#icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

                /*Menu*/
#menu{
    height: 4vh;
}

                /*Account*/
#account{
    background-color: red;
    height: 2vw;
    width: 2vw;
    border: 2px solid red;
    border-radius: 100%;
    text-justify: center;
}

    /*Main*/
section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img, #search, #buttons{
    margin: 5px;
    display: block;
}

        /*Logo*/

        /*Search bar*/
#search{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    border-radius: 5vw;
}

#glass, input, #voice{
    padding: 1vh;
}

#glass, #voice{
    height: 4vh;
}

            /*Glass*/
        
            /*Input*/
input{
    font-size: 1vw;
    width: 30vw;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

input:focus{
    outline: none;
}

            /*Voice*/

        /*Buttons*/
button{
    display: inline-block;
    margin: 5px;
}

    /*Footer*/
footer{
    position: absolute;
    bottom: 0;
    background-color: #f0f0f0;
    color: gray;
}

footer ul{
    margin: 10px;
}

        /*Left*/

        /*Right*/