.right{
    float: right;
}

.top{
    position: fixed;
    top: 0;
    width: 100%;
}

.bottom{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #dddddd;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.floating{
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.center{    
    display: inline-block;
}

li a{
    float: left;
    display: block;
    padding: 8px;
}

li button{
    padding: 8px;
}

li a:hover {
    text-decoration: underline;
}

